@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=Bellefair&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(11, 13,23);
}
.home{
  background-image: url(./assets/Bitmap.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.navbar{
  position: absolute;
  top: 20px;
  height: 60px;
  width: 100%;
}

nav{
  height: 100%;
  width: 100%;
  position: relative;
   
}
nav .logo{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25%;
  left: 5%;
}
nav .logo img{
  height: 100%;
  width: 100%;
}
nav .line{
  height: 1px ;
  width: 400px;
  background-color: rgba( 255, 255, 255, 0.12 );
  position: absolute;
  top: 50%;
  left: 17%;
  z-index: 1;
}
nav ul {
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: rgba( 255, 255, 255, 0.12 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  position: absolute;
  top: 0;
  right: 0%;
 
}
nav  ul li{
  display: inline-block;
  margin-left: 30px;

}

nav ul li .navlink{
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  background: rgba( 19, 18, 18, 0.18 );
  
}
.navlink span:first-child{
  color: #fff;
  font-weight: 600;
}
.navlink span:last-child{
  color: rgb(208,214,249);
  margin-left: 5px;
}
.overlay-text{
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 390px;
  
}
.overlay-text h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: rgb(208,214,249);
  font-weight: 100;
  margin-bottom: 20px;
}
.overlay-text h2{
  color: #fff;
  font-size: 110px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  text-align: left;
  margin-bottom: 20px;
}
.overlay-text p{
  color: rgb(208,214,249);
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  width: 330px;
  
}
.explore{
  position: absolute;
  bottom: 20%;
  right: 17%;
  background-color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
/* //Destination page  */
.destination{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(11, 13,23);
  background-image: url(./assets/Bitmap2.png);
}
.destination .destination-wrapper{
  position: absolute;
  bottom: 15%;
  left: 17%; 
}
.destination-wrapper .header h4{
  font-size: 21px;
  font-family: "Barlow Condensed",sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 50px;
  letter-spacing: 2.5px;
}
.destination-wrapper .header h4 span:first-child{
  color: rgba( 255, 255, 255, 0.25 );
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.container{
  display: flex;
}
.container .destination-image{
  height: 320px;
  width: 320px;
  margin-right: 200px;

}
.container .destination-image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.wrapper ul{
  display: block;
  list-style: none;
  margin-bottom: 20px;
}
.wrapper li{
  display: inline-block;
  margin-right: 20px;
}
.wrapper li .link{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(208,214,249);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
}
.wrapper li .link:hover{
  border-bottom: 2px solid rgb(208,214,249);
  padding-bottom: 5px;
}
.destination-1{
  width: 400px;
}
.destination-1 h1{
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #fff;
  font-weight: 100;
}
.destination-1 .description{
  color: rgb(208,214,249);
  font-size: 15px;
  font-family: "Barlow Condensed",sans-serif;
  margin-bottom: 30px;
  width: 290px;
}
.destination-footer{
  display: flex;
  width: 280px;
  border-top: 1px solid rgba( 255, 255, 255, 0.13 );
  padding-top: 20px;
}
.destination-footer .footer:first-child{
  margin-right: 50px;
}
.destination-footer .footer h5{
  color: rgb(208,214,249);
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 100;

}
.destination-footer .footer p{
  color: #fff;
  font-size: 18px;
  margin-top: 9px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;

}



