@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=Bellefair&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(11, 13,23);
}
.home{
  background-image: url(./assets/Bitmap.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.navbar{
  position: absolute;
  top: 20px;
  height: 60px;
  width: 100%;
  z-index: 1;
}

nav{
  height: 100%;
  width: 100%;
  position: relative;
   
}
nav .logo{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25%;
  left: 5%;
}
nav .logo img{
  height: 100%;
  width: 100%;
}
nav .line{
  height: 1px ;
  width: 400px;
  background-color: rgba( 255, 255, 255, 0.12 );
  position: absolute;
  top: 50%;
  left: 17%;
  z-index: 1;
}
nav ul {
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: rgba( 255, 255, 255, 0.12 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  position: absolute;
  top: 0;
  right: 0%;
 
}
nav  ul li{
  display: inline-block;
  margin-left: 30px;

}

nav ul li .navlink{
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  background: rgba( 19, 18, 18, 0.18 );
  
}
.navlink span:first-child{
  color: #fff;
  font-weight: 600;
}
.navlink span:last-child{
  color: rgb(208,214,249);
  margin-left: 5px;
}
.overlay-text{
  position: absolute;
  bottom: 20%;
  left: 17%;
  width: 390px;
  
}
.overlay-text h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: rgb(208,214,249);
  font-weight: 100;
  margin-bottom: 20px;
}
.overlay-text h2{
  color: #fff;
  font-size: 95px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 100;
}
.overlay-text p{
  color: rgb(208,214,249);
  font-size: 15px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 23px;
  width: 300px;
  
}
.explore{
  position: absolute;
  bottom: 20%;
  right: 17%;
  background-color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
/* //Destination page  */
.destination{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(11, 13,23);
  background-image: url(./assets/Bitmap2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.destination .destination-wrapper{
  position: absolute;
  bottom: 15%;
  left: 17%; 
}
.destination-wrapper .header h4{
  font-size: 21px;
  font-family: "Barlow Condensed",sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 50px;
  letter-spacing: 2.5px;
}
.destination-wrapper .header h4 span:first-child{
  color: rgba( 255, 255, 255, 0.25 );
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.container{
  display: flex;
}
.container .destination-image{
  height: 320px;
  width: 320px;
  margin-right: 200px;

}
.container .destination-image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.wrapper ul{
  display: block;
  list-style: none;
  margin-bottom: 20px;
}
.wrapper li{
  display: inline-block;
  margin-right: 20px;
}
.wrapper li .link{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(208,214,249);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
}
.wrapper li .link:hover{
  border-bottom: 2px solid rgb(208,214,249);
  padding-bottom: 5px;
}
.destination-1{
  width: 400px;
}
.destination-1 h1{
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #fff;
  font-weight: 100;
}
.destination-1 .description{
  color: rgb(208,214,249);
  font-size: 15px;
  line-height: 23px;
  font-family: "Barlow Condensed",sans-serif;
  margin-bottom: 30px;
  width: 290px;
}
.destination-footer{
  display: flex;
  width: 280px;
  border-top: 1px solid rgba( 255, 255, 255, 0.13 );
  padding-top: 20px;
}
.destination-footer .footer:first-child{
  margin-right: 50px;
}
.destination-footer .footer h5{
  color: rgb(208,214,249);
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 100;

}
.destination-footer .footer p{
  color: #fff;
  font-size: 18px;
  margin-top: 9px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;

}



/* // technology page  */
.tech{
  min-height: 100vh;
  width: 100%;
  background-image: url(./assets/tech.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  
}
.tech-wrapper{
  width: 100%;
  margin-top: 100px;
  margin-left: 220px;

}
.tech-wrapper h2{
  font-size: 21px;
  font-family: "Barlow Condensed",sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 160px;
  letter-spacing: 2.5px;
}
.tech-wrapper h2 span:first-child{
  color: rgba( 255, 255, 255, 0.25 );
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.launch-wrapper{
  display: flex;
  margin-bottom: 30px;
}
.launch-wrapper ul {
  list-style: none;
  margin-right: 50px;
}
.launch-wrapper ul li{
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  /* padding: 10px; */
  border: 1px solid rgba( 255, 255, 255, 0.25 );
  border-radius: 100%;
  
  
}
.launch-wrapper ul li .vehicle-link{
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-family: 'Bellefair', serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.launch-wrapper ul li .vehicle-link:hover{
  border: 1px solid #fff;
  border-radius: 100%;
}


.tech-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tech-container .tech-description{
  width: 350px;
}
.tech-description h5{
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Barlow Condensed",sans-serif;
  color: rgb(208,214,249);
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-bottom: 10px;

}
.tech-description h3{
  font-family: 'Bellefair', serif;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.tech-description p{
  width: 290px;
  color: rgb(208,214,249);
  font-family: "Barlow Condensed",sans-serif;
  font-size: 15px;
  line-height: 23px;  
}
.tech-image{
  height: 360px;
  width: 420px;
  position: absolute;
  top: 36%;
  right: 0;  
}
.tech-image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  /* object-position: center; */
  border: none;
}
/* // crew page  */
.crew{
  min-height: 100vh;
  background-image: url(./assets/crewBackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}
.crew-detail{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 220px;
}
.crew-description h2{
  font-size: 21px;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 80px;
}
.crew-description h2 span:first-child{
  color: rgba( 255, 255, 255, 0.25 );
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;

}
.crew-details .occupation{
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: rgba( 255, 255, 255, 0.38);
  font-weight: 100;
  margin-bottom: 10px;
}
.crew-details .crew-name{
  font-size: 37px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bellefair', serif;
  font-weight: 100;
  margin-bottom: 20px;
}
.crew-details .crew-overview{
  width: 280px;
  color: rgb(208,214,249);
  font-family: "Barlow Condensed",sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 60px;
}

.crew-details button{
  height: 10px;
  width: 10px;
  border-radius: 100%;
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: rgba( 255, 255, 255, 0.12 );
  cursor: pointer;
}
.crew-details button:hover{
  background-color: rgba( 255, 255, 255, 0.35);
}
.crew-details .active{
  background-color: #fff;
}

.crew-details img{
  position: absolute;
  bottom: 0%;
  right: 10%;
  height: 500px;

}